[commit]
	gpgsign = true
	template = ~/.gitcommitmsg
[core]
	excludesfile = ~/.gitignore_global
	pager = cat
[credential]
	helper = osxkeychain
[diff]
	algorithm = histogram
	mnemonicprefix = true
	tool = code
[gpg]
	program = git-gpg
[pull]
	rebase = preserve
[push]
	default = current
[rebase]
	autostash = true
[rerere]
	autoupdate = true
	enabled = true
[user]
	name = Olle Vidner
	email = olle@vidner.se
	signingkey = 3AA3BFA4EBE9893D

# Tools
[difftool "code"]
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
