[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[diff]
	tool = code
[difftool "code"]
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[user]
	name = Olle Vidner
	email = olle@vidner.se
	signingkey = 3AA3BFA4EBE9893D
[commit]
	gpgsign = true
	template = ~/.gitcommitmsg
[credential]
	helper = osxkeychain
[gpg]
	program = git-gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rebase]
	autostash = true
[pull]
	rebase = true
